{% extends 'management/layout.html' %}
{% load bootstrap4 %}
{% block title %}Forgot Your Password?{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
     <div class="form-group">
    {% csrf_token %}
    {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary">Change password</button>
    </div>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
</div>
{% endblock %}