{% extends 'management/dashboardlayout.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <br><br>
<div class="jumbotron">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h2>Change Password</h2>
<br>
<form method="post">
	<div class="form-group">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">Save changes</button>
  {% endbuttons %}
</div>
</form>
</div>
</div>
{% endblock %}