{% extends 'management/layout.html' %}
{% block content %}
{% load staticfiles %}
<body style="background-color:#1abc9c;"></body>
<br><br><br><br><br>
<img class="img center" src="{% static 'management/img/prof.png' %}" alt="profile">
<br>
<center><h1 class="text-uppercase" style="color:white;">"TRACK YOUR JOBS NOW"</h1></center>
<br>
<hr class="star-light"><br>
<center><a class="btn btn-primary frontbutton btn-xl text-uppercase js-scroll-trigger" href="{% url 'management:register' %}">GET STARTED</a></center>
{% endblock %}